@page "/"
@rendermode InteractiveServer

<PageTitle>Blazor XIV Components</PageTitle>

<div class="container">
    <div class="header">@nameof(XivFrame)</div>

    <XivFrame Theme="Theme.Dark">@nameof(XivFrame)<br/><br/>Theme: @nameof(Theme.Dark)</XivFrame>
    <XivFrame Theme="Theme.Light">@nameof(XivFrame)</XivFrame>
    <XivFrame Theme="Theme.Classic">@nameof(XivFrame)</XivFrame>
    <XivFrame Theme="Theme.ClearBlue">@nameof(XivFrame)</XivFrame>
    <XivFrame Theme="Theme.ClearWhite">@nameof(XivFrame)</XivFrame>
    <XivFrame Theme="Theme.ClearGreen">@nameof(XivFrame)</XivFrame>
</div>
