@page "/"
@rendermode InteractiveServer

<PageTitle>Blazor XIV Components</PageTitle>

<div class="container">
    <h1 class="header">Theme</h1>
    <div class="buttons">
        <button class="@GetButtonClass(Theme.Dark)" @onclick="@(() => Theme = Theme.Dark)">
            @nameof(Theme.Dark)
        </button>
        <button class="@GetButtonClass(Theme.Light)" @onclick="@(() => Theme = Theme.Light)">
            @nameof(Theme.Light)
        </button>
        <button class="@GetButtonClass(Theme.Classic)" @onclick="@(() => Theme = Theme.Classic)">
            @nameof(Theme.Classic)
        </button>
        <button class="@GetButtonClass(Theme.ClearBlue)" @onclick="@(() => Theme = Theme.ClearBlue)">
            @nameof(Theme.ClearBlue)
        </button>
        <button class="@GetButtonClass(Theme.ClearWhite)" @onclick="@(() => Theme = Theme.ClearWhite)">
            @nameof(Theme.ClearWhite)
        </button>
        <button class="@GetButtonClass(Theme.ClearGreen)" @onclick="@(() => Theme = Theme.ClearGreen)">
            @nameof(Theme.ClearGreen)
        </button>
    </div>

    <h1 class="header">@nameof(XivFrame)</h1>
    <div class="xiv-frame">
        <XivFrame Theme="@Theme">@nameof(XivFrame)<br/><br/>Theme: @nameof(Theme.Dark)</XivFrame>
    </div>

    <h1 class="header">@nameof(XivDivider)</h1>
    <XivDivider/>
    <XivFrame Theme="@Theme">
        <br/>
        <XivDivider/>
        <br/>
    </XivFrame>

    <h1 class="header">@nameof(XivWindow)</h1>
    <XivWindow Theme="@Theme" Label="XivWindow label">
        Content here
    </XivWindow>
    <XivWindow Theme="@Theme" Label="Unformatted XivWindow" Formatted="false">
        Content here
    </XivWindow>
</div>

@code {

    private Theme Theme { get; set; }

    private string GetButtonClass(Theme theme)
    {
        return Theme == theme ? "active" : string.Empty;
    }

}